<html>
<body>
<h1>
    Sign Up
</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="enter name here" required>
    <input type="email" name="email" placeholder="enter email here" required><br>
    <input type="password" name="password" placeholder="enter password here" required>
    <input type="password" name="confirm_password" placeholder="enter password again here" required>

    <input type="submit" value="Sign Up">



</form>

</body>


</html>